/* *{
    border: 1px solid red;
} */

.icon{
    margin-top: 54px;
}
.icon-img{
    width: 198px;
    margin: 0 auto;
}
.game-table{
    width: 556px;
    margin: 0 auto;
}
.table{
    border: 1px solid #d9d9d9;
    box-shadow: 0 8px 24px rgba(16, 24, 40, 0.25);;
    border-radius: 16px;
    padding: 26px;
    margin-top: 12px;
}
.table-row{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    padding: 8px 20px;
    width: 504px;
}
.table-item{
    width: 68px;
    font-size: 18px;
    text-align: center;
    margin: auto 0;
}
.betBtnContainer{
    width: 86px;
}
.bettorsContainer{
    width: 86px;
    font-size: 14px;
}
.league-img{
    width: 48px;
    margin: 0 auto;
}
.team-img{
    width: 48px;
    height: 48px;
    margin: 0 auto;
    object-fit: contain;
}
.league-name{
    font-size: 12px;
    margin-top: 6px;
}
.team-name{
    font-size: 14px;
    margin-top: 6px;
}
.team-winrate{
    font-size: 10px;
}
.betBtn{
    background-color: #E96D22;
    width: inherit;
    height: inherit;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 4px;
    box-shadow: 0 0 8px 0px gray;
}
.result-text{
    font-size: 24px;
    font-weight: bold;
}
.divider{
    height: 1px;
    background-color: #D9D9D9;
    margin: 64px -16px;
}