/* Box model */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base */
html, body {
  height: 100%;
}

/* Typography (나중에 폰트 변경)*/
body {
  line-height: 1.5;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, "Noto Sans KR", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul, ol {
  list-style: none;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Buttons */
button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}